<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Immobiliare</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<header>
    <nav>
        <div class="logo">Immobiliare</div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="immobili">Proprietà</a></li>
            <li><a href="contatti">Contatti</a></li>
            <li><a id="user-button" href="accesso">Accedi</a></li>
        </ul>
    </nav>
</header>
<section class="box background">
    <h1>Trova la casa dei tuoi sogni</h1>
    <form class="search-form">
        <label>
            <input type="text" name="address" placeholder="Città, indirizzo, CAP">
        </label>
        <button type="submit">Cerca</button>
    </form>
</section>
<section class="featured-properties">
    <h2>Proprietà in evidenza</h2>
    <div class="property-list">
        <!-- Gli annunci casuali saranno caricati dinamicamente qui -->
    </div>

</section>
<footer>
    <p>&copy; 2024 Immobiliare. Tutti i diritti riservati.</p>
</footer>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/css/js/index.js"></script>
</html>